numpy==1.26.4
pandas
scikit-learn
scikit-surprise
fastapi
uvicorn
pyngrok
nest-asyncio
joblib
streamlit
requests
python-multipart
beautifulsoup4
selenium
webdriver-manager
google-generativeai
sentence-transformers
faiss-cpu
matplotlib
seaborn
